adversarial-robustness-toolbox==1.12.1
pandas==1.5.1; sys_platform == 'darwin'
pandas==1.5.3; sys_platform != 'darwin'
numpy==1.23.5
psutil==5.9.4
Pillow==10.0.1
pytablewriter==0.64.2
keras~=2.11.0
scipy==1.10.1
tensorflow-macos; platform_machine == 'arm64' and sys_platform == 'darwin'
tensorflow-cpu; platform_machine == 'amd64' or platform_machine == 'AMD64' or platform_machine == 'x86_64'
pyyaml
